{% extends 'base.html' %}

{% block content %}
    <div>
        <div class="container">
            <a href='create/' class="btn btn-primary">New Reservation</a>
        </div> 
    </div>
<div class="content">
{% comment %} <ul class="list-group col-6"> {% endcomment %}

<div>
    <select>
    {% for element in user_list %}
    <option value={{ element.username }}>{{ element.username }}
    {% endfor %}
    </select>
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Room number</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Duration</th>
        <th scope="col">Reserved by</th>
        <th scope="col">Details</th>
    </tr>
    </thead>
    <tbody>
        {% for object in object_list %}

            {% include  'reservation/list-inline.html' with reservation=object %}

        {% endfor %}
        {% endblock content %}
    </tbody>

</table>










</ul>

</div>