    {% comment %} <div class="card" style="width: 18rem;">
    <img class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Meeting room: {{ reservation.room_number }}</h5>
            <h5 class="card-title">{{ reservation.room_date }}</h5>
            <h5 class="card-title"> from: {{ reservation.reservation_time }} for: {{ reservation.reservation_duration }} h</h5>
            <a href='{{ reservation.get_absolute_url }}' class="btn btn-primary">Details</a>
        </div>
    </div> {% endcomment %}


    <tr>
        <td>{{ reservation.room_number }}</td>
        <td>{{ reservation.reservation_date }}</td>
        <td>{{ reservation.reservation_time }}</td>
        <td>{{ reservation.reservation_duration }}</td>
        <td>{{ reservation.reservation_user }}</td>
        {% if request.user.is_authenticated and request.user == object.reservation_user %}
        <td><a href='{{ reservation.get_absolute_url }}' class="btn btn-primary">Details</a></td>
        {% endif %}
    </tr>

{% comment %} 

<div class="row">
    <div class="col-8"
        <li class="list-group-item">{{ reservation.room_number }} - {{ reservation.reservation_date }} - {{ reservation.reservation_duration }}</li>
    </div>
    <div class="col-4">
        <a href='{{ reservation.get_absolute_url }}' class="btn btn-primary">Details</a>
    </div>
</div> {% endcomment %}