{% extends 'base.html' %}

{% block content %}
<div class="content">
{% for instance in object_list %}


    <div class="card" style="width: 18rem;">
    <img src="{{ instance.image }}" class="card-img-top" href='{{ instance.get_absolute_url }}'>
    <div class="card-body">
        <h5 class="card-title">{{ instance.room_number }}</h5>
        {% comment %} <p class="card-text">{{ instance.capacity }}</p> {% endcomment %}
        {% comment %} <a href='{{ instance.get_absolute_url }}' class="btn btn-primary">{{ instance.room_number }}</a> {% endcomment %}
        <a href='{{ instance.get_absolute_url }}' class="btn btn-primary">Details</a>
    </div>
    </div>

{% endfor %}
{% endblock content %}


</div>